// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.wrapper {
  margin-bottom: 7vh;
  padding: 1vh;
  border: 1px solid;
  border-radius: 1vh;
  box-shadow: 5px 5px;
  justify-content: center;
}

.coin-symb {
  padding: 0.5vh;
  height: 3vh;
  justify-content: center;
}

div#card_body {
  padding: 1vh;
}

.card:hover
{
        background:#53a7ea;
        box-shadow:
               1px 1px #53a7ea,
               2px 2px #53a7ea,
               3px 3px #53a7ea;
       -webkit-transform: translateX(-3px);
       transform: translateX(-3px);
}
